<h1>Show</h1>
<h1> cocktail <%= @cocktail.id %> </h1>
<h2>Title : <%= @cocktail.name %></h2>

<%= link_to 'Home page', cocktails_path %>

<%= link_to "Delete #{@cocktail.name}",
            cocktail_path(@cocktail),
            method: :delete,
            data: { confirm: "Are you sure?" } %>


<%= link_to "Update #{@cocktail.name}",
            edit_cocktail_path(@cocktail.id) %>



<%= link_to 'Edit', edit_cocktail_path(@cocktail) %> |
<%= link_to 'Back', cocktails_path %>
